.table-kqxs{
    .number{
        display: inline-flex;
        height: 2rem;
        justify-content: center;
        align-items: center;
        &:empty::after{
            content: '...';
        }
    }
    td:first-child{
        width: 80px;
        font-size: 14px;
        font-weight: 400;
    }
}
.table-kqxs-xsmb{
    .number{
        width: 33%;
    }
    tr {
        &:nth-child(2), &:nth-child(9){
            .number{
                color: #c80505;
            }
        }
        &:nth-child(6), &:nth-child(9){
            .number{
                width: 24%;
            }
        }
    }
}
.table-kqxs-multi{
    .number{
        display: block !important;
    }
}
.table-kqxs-province{
    tr:nth-child(5){
        .number:nth-child(-n+3){
            width: 33%;
        }
    }
}
.table-loto{
    td:first-child{
        width: 80px;
    }
}

.table-kqxs-3d{
    tr:nth-child(3){
        .number{
            width: 30%;
        }
    }
    tr:nth-child(4){
        .number{
            width: 22%;
        }
    }
}
