.table-kqxs{
    .number{
        display: inline-flex;
        height: 2rem;
        justify-content: center;
        align-items: center;
        &:empty::after{
            content: '...';
        }
    }
    td,th {
        &:first-child{
            width: 80px;
            font-size: 14px;
            font-weight: 400;
        }
    }
}
.table-kqxs-xsmb{
    .number{
        width: 33%;
    }
    tr {
        &:nth-child(2), &:nth-child(9){
            .number{
                color: #c80505;
            }
        }
        &:nth-child(6), &:nth-child(9){
            .number{
                width: 24%;
            }
        }
    }
}
.table-kqxs-multi{
    .number{
        display: flex !important;
    }
    tbody {
        tr{
            &:nth-child(1), &:nth-child(9){
                .number {
                    color: #c80505;
                }
            }
        }
    }
}
.table-kqxs-province{
    tr:nth-child(5){
        .number:nth-child(-n+3){
            width: 33%;
        }
    }
}
.table-loto{
    td:first-child{
        width: 80px;
    }
}
